<template>
  <div class="container">
    <div>
      {{ $store.state }}
      <div class="" @click="Login">Login</div>
      <div class="" @click="Logout">Logout</div>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  methods: {
    Login() {
      this.$store.dispatch('login', {
        username: 'admin',
        password: 'kopet1234'
      })
    },
    Logout() {
      this.$store.dispatch('logout')
    }
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
